<div class="contacto">
  <form id="contacto-form">
    <input type="email" name="email" id="email" placeholder="email" />
    <input type="text" name="name" id="name" placeholder="nombre" required />
    <textarea
      required
      name="mensaje"
      id="mensaje"
      cols="30"
      rows="10"
      placeholder="comentario"
    ></textarea>
    <button type="button" id="submit-btn">Enviar</button>
  </form>
</div>

<script>
  document.getElementById('submit-btn').addEventListener('click', async () => {
    const email = document.getElementById('email').value;
    const name = document.getElementById('name').value;
    const mensaje = document.getElementById('mensaje').value;

    const response = await fetch('/form-contacto', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, name, mensaje }),
    });

    if (response.ok) {
      console.log('Formulario enviado con éxito');
    } else {
      console.error('Error al enviar el formulario');
    }
  });
</script>