<header>
  <div class="contenedor">
    <nav class="menu">
      <a href="#acerca">Acerca de </a>
      <a href="#trabajos">trabajos</a>
      <a href="#contacto">Contacto</a>
    </nav>

    <div class="contenedorDeTexto">
      <div class="texto">
        <h1 class="nombre"><img src="./img/logoGG.svg" width="240px" /></h1>
        <h2 class="profesion">Programador</h2>
      </div>
    </div>
  </div>
</header>
