<section class="redesSociales">
  <div class="contenedor">
    <a href="https://www.linkedin.com/in/genarogg" class="twitter"
      ><span class="icon-linkedin"></span
    ></a>
    <a href="http://www.facebook.com/gnarogg" class="facebook"
      ><span class="icon-facebook"></span
    ></a>
    <a href="#" class="youtube"><span class="icon-youtube"></span></a>
    <a href="https://github.com/genarogg" class="github"
      ><span class="icon-github"></span
    ></a>
    <a href="https://www.instagram.com/gnarogg" class="instagram"
      ><span class="icon-instagram"></span
    ></a>
  </div>
</section>
