<section class="trabajos" id="trabajos">
  <div class="contenedor">
    <h3 class="titulo">Trabajos</h3>
    <div class="contenedorTrabajos">
      <div class="trabajo">
        <div class="thumb">
          <img src="img/1.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/2.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/3.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/4.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/5.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/6.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/7.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
      <div class="trabajo">
        <div class="thumb">
          <img src="img/8.jpg" alt="Lorem Ipsum" />
        </div>
        <div class="description">
          <p class="nombre">Lorem Ipsum</p>
          <p class="categoria">HTML - CSS - PHP</p>
        </div>
      </div>
    </div>
  </div>
</section>
